[submodule "packages/sim_ros2_interface"]
	path = packages/sim_ros2_interface
	url = ../simROS2.git
[submodule "packages/ros2-interfaces"]
	path = packages/ros2-interfaces
	url = ../ros2-interfaces.git
